<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logo.png') }}" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
  <link href="{{ asset( 'css/styles.css')}}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">Protégeons la nature, préservons notre avenir</span>
                <span class="site-heading-lower">The Tree Well</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('app_index')}}">Acceuil</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('app_listJ')}}">Jardins</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('app_event')}}">Évènement</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('app_frontanimal')}}">Animaux</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('centre_show')}}">déchets</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('plage_show')}}">Plage</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section cta">
        <style>
    .zone-texte9 {
        max-width: 600px; /* Définit la largeur maximale à ne pas dépasser */
        display: inline-block; /* Permet à la balise span de respecter la propriété max-width */
        word-wrap: break-word; /* Permet au texte de revenir à la ligne lorsque la limite de largeur est atteinte */
        /* ou utilisez word-break: break-word; si vous avez des mots longs */
            }
        </style>
                <h1 class="text-center text-uppercase" > <span class="site-heading-lower">{{event.nomEvent | upper}}</span> </h1>
                    <div class="">
                        <div class="row">
                            <div class="col-xl-11 mx-auto">
                                <div class="cta-inner bg-faded rounded">
                                    <h2 class="section-heading mb-4">
                                        
                                    <table>
                                        <tr>
                                            
                                            <td><img src="{{event.afficheEvent}}" alt="Description de l'image" width="450" height="600"></td>
                                            <td style="width: 30px;"></td>
                                            <td style="vertical-align: top;">
                                                <div class="intro-button mx-auto"><a class="btn btn-primary" href="{{ path('app_event')}}">Retour à l'acceuil</a></div>
                                                <span style="margin-top: 10px; display: inline-block;" class="section-heading-upper">-lieux:</span>
                                                <span style="margin-top: 10px; font-size: 16px; ">{{event.lieuxEvent | upper}}</span>
                                                <br>
                                                <span style="margin-top: 10px;display: inline-block;" class="section-heading-upper">-commence le: </span>
                                                <span style="margin-top: 10px; font-size: 16px; ">{{event.start | date('Y-m-d')}}</span>
                                                <span style="margin-top: 10px;display: inline-block;" class="section-heading-upper">à: </span>
                                                <span style="margin-top: 10px; font-size: 16px; ">{{event.start | date('H:i:s')}}</span>
                                                <br>
                                                <span style="margin-top: 10px;display: inline-block;" class="section-heading-upper">-finit le: </span>
                                                <span style="margin-top: 10px; font-size: 16px; ">{{event.end | date('Y-m-d')}}</span>
                                                <span style="margin-top: 10px;display: inline-block;" class="section-heading-upper">à: </span>
                                                <span style="margin-top: 10px; font-size: 16px; ">{{event.end | date('H:i:s')}}</span>
                                                <br>
                                                <span style="margin-top: 10px;" class="section-heading-upper">-Description: </span>
                                                <span style="margin-top: 10px;font-size: 16px;" class=" zone-texte9">{{event.descriptionEvent}}</span>
                                                <br>
                                                <span style="margin-top: 10px;display: inline-block;" class="section-heading-upper">-nombre des participants: </span>
                                                <span style="margin-top: 10px; font-size: 16px; display: inline-block;">{{nbrP}}</span>
                                                <br>
                                                 <span style="margin-top: 30px;" class="section-heading-upper">-rempli le formulaire suivant pour participer à l'évènement:</span>
                                                 {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                                                 {{ form_label(f.nomParticipant) }}
                                                 {{ form_widget(f.nomParticipant, {'attr': {'class': 'form-control'}}) }}
                                                 <span style="color: red; margin-top: 10px; font-size: 16px;" >
                                                     {{ form_errors(f.nomParticipant) }}
                                                 </span>
                         
                                                 {{ form_label(f.prenomParticipant) }}
                                                                     {{ form_widget(f.prenomParticipant, {'attr': {'class': 'form-control'}}) }}
                                                 <span style="color: red; margin-top: 10px; font-size: 16px;">
                                                     {{ form_errors(f.prenomParticipant) }}
                                                 </span>
                         
                                                 {{ form_label(f.email) }}
                                                                     {{ form_widget(f.email, {'attr': {'class': 'form-control'}}) }}
                                                 <span style="color: red; margin-top: 10px; font-size: 16px;">
                                                     {{ form_errors(f.email) }}
                                                 </span>
                         
                                                 
                                             {{ form_end(f) }}
                                            </td>
                                        </tr>
                                    </table>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; The Tree Well 2024</p></div>
        </footer>
            
        {% endblock %}

        {% block javascripts %}
 <!-- Bootstrap core JS-->
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Core theme JS-->
<script src="{{ asset('js/scripts.js') }}"></script>

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
