<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logo.png') }}" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <!-- Inclure jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="{{ asset( 'css/styles.css')}}" rel="stylesheet" />
  <script src="{{ asset('event/eventRecherche.js') }}"></script>
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">Protégeons la nature, préservons notre avenir</span>
                <span class="site-heading-lower">The Tree Well</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('app_index')}}">Acceuil</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('app_listJ')}}">Jardins</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('app_event')}}">Évènement</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('app_frontanimal')}}">Animaux</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('centre_show')}}">déchets</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ path('plage_show')}}">Plage</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
        
        <div class="row" style="display: flex;align-items:center ;justify-content: center;margin-top: 150px;">
            <div class="col-lg-9">
                <div class="card">
                  <div class="card-body">
                     
            <table class="table table-striped">
                <thead>
                    <tr>
                                            
                        <th>Nom de l'équipe</th>
                        <th>Membres</th>
                        <th>Mission</th>
                        <th>Date de création</th>
                        <th>Durée</th>


                  
                    </tr>
                </thead>
                <tbody>
                    <!-- JOINTURE avec equipes(OneToMany in plage.php) -->
                    {% for e in plage.equipes %}
                    <tr>
                        <td>{{ e.nom }}</td>
                        <td>{{ e.member }}</td>
                        <td>{{ e.mission }}</td>
                        <td>{{ e.date|date('d-M-y') }}</td>
                      <td>{{e.debut | date('H:i:s')}} - {{e.fin | date('H:i:s')}}</td>  
                     <td>
                        
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody> 
                </table>
                

                  </div>
                </div>
            </div>
        </div>
        
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; The Tree Well 2024</p></div>
        </footer>
            
        {% endblock %}

       
    </head>
    
</html>
